@import "theme";

input,
select,
button {
  @include round-plate;
  @include hover-animation;
  box-sizing: border-box;
}

button {
  @include hover-animation;

  &:enabled {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
